
.list-group-item{
    border-radius: 10px;
    margin-bottom:5px;
    transition: 300ms;
}
.list-group-item:hover{
  
    box-shadow: 0px 0px 8px 2px #c3c3c3;
}
.list-group-item-header{
    display:flex;
    justify-content: space-between;
}
.list-group-item-body{
    padding:10px 0;
}
.btn,btn:hover,btn:focus{
    font-size:10px;
    padding:5px 10px;
    outline:none;
    position:relative;
}
.slash::after {
    
     content: "/";
     color: white;
     font-size: 15px;
     position: absolute;
     width: 25px;
     height: 13px;
     display: block;
    position: absolute;
    top: -1px;
    left: 2px;

}
.bg-light-green{
    background:#9ccc65;
}
.bg-light-red{
    background:#ef9a9a;
}

.love-it-result{
    margin-left: 5px;
    font-size: 9px;
    background: white;
    padding: 5px;
   
    height: 25px;
    border-radius: 45%;
    
}